<script id="page-title">
	<h1>${module.title }导入</h1>
</script>
<script id="message">
	<p data-index="${index}" class="${type}">
		<span>${typeTitle}&emsp;${timeStr}&emsp;</span>
		<span>${text}</span>
	</p>
</script>