<script id="fields-container"> 
	<div class="panel-group accordion" id="fields-container"> 
		<div class="panel panel-default"> 
			<div class="panel-heading"> 
				<h4 class="panel-title"> 
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordions" href="#collapseOnes"> 
						基本信息
					</a> 
				</h4> 
			</div>  
			<div id="collapseOnes" class="panel-collapse collapse" style="height: 0px;"> 
				<div class="panel-body border-red">
					<label on-click="selectField">姓名</label>
					<label on-click="selectField">性别</label>
					<label on-click="selectField">生日</label>
					<label on-click="selectField">标签</label>
				</div> 
			</div> 
		</div>  
		<div class="panel panel-default"> 
			<div class="panel-heading"> 
				<h4 class="panel-title"> 
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordions" href="#collapseTwos">
						就业信息
					</a> 
				</h4> 
			</div>  
			<div id="collapseTwos" class="panel-collapse collapse" style="height: 0px;"> 
				<div class="panel-body border-red">
					<label on-click="selectField">工作单位</label>
					<label on-click="selectField">单位地址</label>
					<label on-click="selectField">入职时间</label>
				</div> 
			</div> 
		</div>  
		<div class="panel panel-default"> 
			<div class="panel-heading"> 
				<h4 class="panel-title"> 
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordions" href="#collapseThrees">
						家庭信息
					</a> 
				</h4> 
			</div>  
			<div id="collapseThrees" class="panel-collapse collapse"> 
				<div class="panel-body border-gold">
					<label on-click="selectField">姓名</label>
					<label on-click="selectField">性别</label>
					<label on-click="selectField">生日</label>
				</div> 
			</div> 
		</div> 
	</div> 
</script>
