<script id="tmpl-field-rows">
	{{each(i, row) rows}}
		<tr>
			<td>
				<span class="field-title">${title}</span>
			</td>
			<td class="field-name">${fieldName}</td>
			<td>
				{{if removable != false }}
					<a class="btn btn-xs remove-col" on-click="do:removeRow(rows[${i}])">
						<i class="fa fa-trash-o"></i>
					</a>
				{{/if}}
			</td>
		</tr>
	{{/each}}
</script>